  <div class="container">
  <h2>友人同士</h2>
      <!--<form action="#" method="post">-->
        
        <table>

          <!--<tr id="okaikei">-->
            <th>お会計</th>
            <td>
              <%= @totalAmount.to_s(:delimited) %>円
            </td>
          <!--</tr>-->

          <tr>
            <th>会計</th>
            <td>
              <%= @price1.to_s(:delimited) %>円
            </td>
          </tr>

          <tr>
            <th>端数</th>
            <td>
              <%= @amariAmount.to_s(:delimited) %>円
            </td>
          </tr>

          <tr>
            <!--<th></th>-->
            <td>
              <label for="toIndex" class="toIndex" >
                <%= link_to("戻る", "/") %>
              </label>
            </td>
          </tr>
          
        </table>

      <!--</form>-->
   </div>