  <h2>歓送迎会(男女別)</h2>
      <form oninput="souninzuu.value = Number(syuhin_male.value) + Number(ippan_male.value) + Number(syuhin_female.value) + Number(ippan_female.value);" action="#" method="post">
        <table>

          <tr>
            <th>お会計</th>
            <td>
              <input type="tel" name="kaikei">円
            </td>
          </tr>

          <tr>
            <th>人数</th> <th>男性</th> <th>女性</th>
          </tr>

          <tr>
            <th>主賓</th>
            <td>
              <input type="tel" name="syuhin_male">名
            </td>
            <td>
              <input type="tel" name="syuhin_female">名
            </td>
          </tr>

          <tr>
            <th>一般</th>
            <td>
              <input type="tel" name="ippan_male">名
            </td>
            <td>
              <input type="tel" name="ippan_female">名
            </td>
          </tr>

          <tr>
            <th>総人数</th>
            <td>
              <output name="souninzuu">
              </output>名
            </td>
          </tr>

        </table>
          <input type="submit" value="計算！">
      </form>