    <div class="container">
    <h2>部署飲み(男女別)</h2>
        <%= form_tag("/warikan/onthejobCalc2") do %>
        <table>

          <tr>
            <th>お会計</th>
            <td>
              <input type="tel" name="kaikei" class="textbox">円
            </td>
          </tr>

          <tr>
            <th>人数</th> <th class="male">男性</th> <th class="female">女性</th>
          </tr>

          <tr>
            <th>上司</th>
            <td>
              <input type="tel" name="joushi_male" class="textbox">名
            </td>
            <td>
              <input type="tel" name="joushi_female" class="textbox">名
            </td>
          </tr>

          <tr>
            <th>中堅</th>
            <td>
              <input type="tel" name="chuken_male" class="textbox">名
            </td>
            <td>
              <input type="tel" name="chuken_female" class="textbox">名
            </td>
          </tr>

          <tr>
            <th>若手</th>
            <td>
              <input type="tel" name="wakate_male" class="textbox">名
            </td>
            <td>
              <input type="tel" name="wakate_female" class="textbox">名
            </td>
          </tr>

        </table>
          <input type="submit" value="計算！" class="button">
          <% end %>
           </div>
