    <div class="container">
    <h2>部署飲み</h2>
        <%= form_tag("/warikan/onthejobCalc1") do %>
        <table>

          <tr>
            <th>お会計</th>
            <td>
              <input type="tel" name="kaikei" class="textbox">円
            </td>
          </tr>

          <tr>
            <th>上司</th>
            <td>
              <input type="tel" name="joushi" class="textbox">名
            </td>
          </tr>

          <tr>
            <th>中堅</th>
            <td>
              <input type="tel" name="chuken" class="textbox">名
            </td>
          </tr>

          <tr>
            <th>若手</th>
            <td>
              <input type="tel" name="wakate" class="textbox">名
            </td>
          </tr>
          
        </table>
          <input type="submit" value="計算！" class="button">
          
          <% end %>
           </div>
