    <div class="container">
    <h2>おもてなし</h2>
      <!--<form oninput="souninzuu.value = Number(syuhin.value) + Number(ippan.value);" action="#" method="">-->
      <%= form_tag("/warikan/settaiCalc1") do %>
        <table>

          <tr id="okaikei">
            <th>お会計</th>
            <td>
              <input type="tel" name="kaikei" class="textbox">円
            </td>
          </tr>

          <tr>
            <th>主賓</th>
            <td>
              <input type="tel" name="syuhin" class="textbox">名
            </td>
          </tr>

          <tr>
            <th>一般</th>
            <td>
              <input type="tel" name="ippan" class="textbox">名
            </td>
          </tr>

          <!--<tr>-->
          <!--  <th>総人数</th>-->
          <!--  <td>-->
          <!--    <output name="souninzuu" for="syuhin ippan">-->
          <!--    </output>名-->
          <!--  </td>-->
          <!--</tr>-->

        </table>
          <input type="submit" value="計算！" class="button">
          <% end %>
           </div>
      <!--</form>-->